@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Lato';
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .container__title {
    margin-top: 30px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0px 15px;
}

.container__title {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 50px;
}

.container__suptitle {
  margin: 20px 0px;
  text-transform: uppercase;
  font-size: 30px;
}

.container__image img {
  border-radius: 50px;
  width: 50%;
  height: auto;
}

.container__text {
  margin: 50px 0px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1024px) {
  .container {
    max-width: 750px;
  }
  .container__title {
    margin-top: 30px;
    font-size: 40px;
  }
  .container__suptitle {
    margin-top: 30px;
    font-size: 25px;
  }
  .container__image img {
    border-radius: 50px;
    width: 80%;
    height: auto;
  }
  .container__text {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .container__title {
    margin-top: 30px;
    font-size: 30px;
  }
  .container__image img {
    border-radius: 20px;
    width: 100%;
    height: auto;
  }
  .container__text {
    font-size: 20px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__content {
  background: #fff center no-repeat;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper__nav {
  max-width: auto;
  min-width: auto;
  background-color: black;
  padding: 30px 0px;
}

.wrapper__nav_link {
  margin: 15px 20px 15px 20px;
  font-size: 20px;
  color: #fff;
  -webkit-transition: linear .2s;
  transition: linear .2s;
}

.wrapper__nav_link:hover {
  color: #2b7569;
}

@media (max-width: 1024px) {
  .wrapper__nav_link {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .wrapper__nav_link {
    font-size: 24px;
  }
}
